body
{
  color: white;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emoji_of_hand_gesture  
{
  color: black;
  font-size:48px;
}
#text_of_hand_gesture
{
    font-size: 40px;
}
h3
{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
  color: chartreuse;
  background-color: white;
  font-size: 15px;
  border-radius: 11px;
  padding: 5px;
}